.App {
  text-align: center;
}

.App h1 {
  color: rgb(37, 37, 37);
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 4px;
}

.App p {
  color: black;
}

.App p.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.button_normal, .button_active {
  background-color: green;
  font-family: inherit;
  border: 1px solid transparent;
  padding: 8px;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px .12px rgba(0, 0, 0, 0.25);
  transition: .2s linear 0s;
}

.button_normal:hover {
  background-color: white;
  border: 1px solid green;
  color: green;
}


.button_active {
  background-color: red;
}

.button_active:hover {
  background-color: white;
  border: 1px solid red;
  color: red;
}